body {
  background-color: #dadada;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

nav {
  width: 360px;
  height: 24px;
}

.container {
  margin: 0 auto;
  width: 360px;
  background-color: #FFF;
}

.content {
  margin: 0 auto;
  width: 360px;
  height: 458px;
  background-color: #FFF;
  overflow: scroll;
}

.statusbar {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.appbar {
  height: 40px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-right: 16px;
  background-color: #FEC006;
  font-size: 20px;
  font-weight: 500;
}

.back {
  display: inline-block;
  width: 30px;
  height: 34px;
  margin: .1em;
  float: left;
}

.app-location  {
  display: inline-block;
  width: 100px;
}

.search {
  display: inline-block;
  width: 40px;
  height: 34px;
  margin: .1em;
  float: right;
}

.more {
  display: inline-block;
  width: 10px;
  height: 34px;
  margin: .1em;
  float: right;
}

.bus-list {
  display: inline-block;
  height: 28px;
  margin-top: 6px;
  margin-left: 16px;
  margin-right: 16px;
}

li {
  display: inline-block;
  margin-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: middle;
  height: 16px;
  width: 24px;
}

li-2 {
  width: 150px;
}

li-3 {
  width: 150px;
}

div#underlineiItem {
  border-bottom: 1.5px solid #EEEEEE;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 15px;
  font-weight: 600;
  vertical-align: top;
}

.stop-location {
  height: 36px;
  padding-left: 16px;
  padding-top: 18px;
  background-color: #474747;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
}

.heading {
  height: 30px;
  padding-top: 6px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #EEEEEE;
}

.subhead {
  height: 24px;
  border-bottom: 2px solid #FEC006;
  padding-bottom: 12px;
}

div#navbarContainer {
    height: 48px;
}
