body {
  background-color: #dadada;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

nav {
  width: 360px;
  height: 24px;
}

.container {
  margin: 0 auto;
  width: 360px;
  background-color: #FFF;
}

.content {
  width: 360px;
  height: 458px;
  background-color: #FFF;
  overflow: scroll;
}

.statusbar {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.appbar {
  height: 40px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 0px;
  padding-right: 16px;
  background-color: #FEC006;
  font-size: 20px;
  font-weight: 500;
}

.back {
  display: inline-block;
  width: 30px;
  height: 34px;
  margin: .1em;
  float: left;
}

.app-location  {
  display: inline-block;
  width: 100px;
}

.search {
  display: inline-block;
  width: 40px;
  height: 34px;
  margin: .1em;
  float: right;
}

.more {
  display: inline-block;
  width: 10px;
  height: 34px;
  margin: .1em;
  float: right;
}

.bus-list {
  display: inline-block;
  height: 28px;
  margin-left: 16px;
}

.line {
  width: 40px;
}

.destination {
  width: 155px;
}

.frequency {
  width: 125px;
}

.line-rr {
  width: 40px;
  color: #D0021B;
}

.destination-rr {
  width: 155px;
  color: #D0021B;
}

.frequency-rr {
  width: 125px;
  color: #D0021B;
}

.line-oos {
  width: 40px;
  color: #A9A8A8;
}

.destination-oos {
  width: 155px;
  color: #A9A8A8;
}

.frequency-oos {
  width: 125px;
  color: #A9A8A8;
}

li {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 16px;
  line-height: 20px;
}

div#double-line {
    padding-bottom: 6px;
}

.sm {
  font-size: 14px;
  font-style: italic;
}



div#underlineiItem {
  border-bottom: 1.5px solid #EEEEEE;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 15px;
  font-weight: 600;
}

.stop-location {
  height: 36px;
  padding-left: 16px;
  padding-top: 18px;
  background-color: #474747;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
}

.heading {
  height: 30px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #EEEEEE;
}

.subhead {
  height: 24px;
  border-bottom: 2px solid #FEC006;
  padding-bottom: 12px;
}

.subhead-Reroute {
  height: 24px;
  border-bottom: 2px solid #D0021B;
  padding-bottom: 12px;
}

.subhead-OutofService {
  height: 24px;
  border-bottom: 2px solid #A9A8A8;
  padding-bottom: 12px;
}

.footer{
  font-size: 12px;
}

div#navbarContainer {
    height: 48px;
}
